title = "Video_Way_Customer-Records";    # Video Way db application

fields = { "MemberNumber",
           "LastName",
           "FirstName",
           "Address",
           "TotalRentals",
           "Account_balance"};

# Here are some database-looking buttons (wonder where this is going...)
buttons = { "Add", "Update", "Delete", "Query", "Print" };

#!#

#
# Field type declarations
#
MemberNumber = "integer";

LastName = "string";

FirstName = "string";
Address = "string";
TotalRentals = "integer";
Account_balance = "float";

#
# Button function declaration
#
Add = "A2Listener_P1";
Update = "A2Listener_P1";
Delete = "A2Listener_P1";
Query = "A2Listener_P1";
Print = "A2Listener_P1";
