title =  "compiled_test1" ;

fields  =  {
"Name", 
"Student_ID",
"A1",
"A2",
"A3",
"A4",
"Average"
};

buttons = {
"Add",
"Update",
"Save",
"Query"
};

#!#
#dip
Name = "string";

Student_ID ="integer";

A2 = "integer";

A3 ="float";

A4 =   #sdsdssdsd

"integer";

A1 = "integer";

Average = "integer";

#the action listner

Add = "AddListener";

Update = "UpdateListener";

Save = "SaveListener";

Query = "QueryListener";
